
html{

    --ashen-gray: #FAF5EF;
    --blue-gray: #D3E0EA;
    --main-bg: #FFD5CD;
    --main-nav: #EFBBCF;
    --main-textbg: #C3AED6;
    --main-text: #8675A9;

}

body{
    background-color: var(--ashen-gray);
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.footer{
    position: fixed;
    bottom: 0vh;
    left: 0vw;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--blue-gray);
    display: flex;
    z-index: 10;
    transition: ease-in 800ms;
    transform-origin: bottom;
}    


